        
       
      
        <div>
            <table mat-table [dataSource]="dataSource">
          
              <!-- Наименование объекта -->
              <ng-container matColumnDef="nameOfConstructionSite">
                <th mat-header-cell *matHeaderCellDef> Наименование объекта </th>
                <td mat-cell *matCellDef="let constructionSite"> {{constructionSite?.nameOfConstructionSite}} </td>
              </ng-container>
          
              <!-- Заказчик -->
              <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef> Заказчик </th>
                <td mat-cell *matCellDef="let constructionSite"> {{constructionSite?.customer}} </td>
              </ng-container>
          
              <!-- Срок сдачи объекта -->
               <ng-container matColumnDef="deadline">
                <th mat-header-cell *matHeaderCellDef> <span class="font-weight-bold">Плановый</span> cрок сдачи </th>
                <td mat-cell *matCellDef="let constructionSite"> {{constructionSite?.currentDeadlines?.planningDateOfCompletionOfWorks | date: 'dd/MM/yyyy'}} </td>
              </ng-container> 
  
              <!-- Стоимость объекта -->
                <ng-container matColumnDef="valueOfContract">
                  <th mat-header-cell *matHeaderCellDef> Стоимость объекта </th>
                  <td mat-cell *matCellDef="let constructionSite"> {{constructionSite?.valueOfContract}} </td>
                </ng-container>
  
              <!-- Плановые затраты по стройке объекта -->
               <ng-container matColumnDef="planningExpenditures">
                <th mat-header-cell *matHeaderCellDef> Плановые затраты </th>
                <td mat-cell *matCellDef="let constructionSite">
                    <span>
                        {{constructionSite?.planningExpenditures?.sumOfCosts}}
                    </span> 
                    <a 
                    [routerLink]="['/ingineer', constructionSite._id]"
                      mat-stroked-button 
                      color="primary">
                      Подробнее
                    </a>
                     
                 
                </td>
                

              </ng-container>
            
  
      
              <!-- Текущие затраты -->
            <!--     <ng-container matColumnDef="currentExpenditure">
                <th mat-header-cell *matHeaderCellDef>Текущие затраты</th>
                <td mat-cell *matCellDef="let constructionSite"> 
                  {{constructionSite.currentExpenditure}} 
                  <button
                     mat-stroked-button 
                     color="primary"
                     (click)="onShowConstructionSitePage(constructionSite)"
                    >Подробнее</button>
                </td>
              </ng-container> -->
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
          </div>

     