<div id="selectedConstructionSite">
    <section class="general-info">
      <mat-card><span>Объект:</span>  {{ constructionSite?.nameOfConstructionSite }}</mat-card>
      <mat-card><span>Заказчик:</span> {{ constructionSite?.customer }} </mat-card>
       <mat-card><span>Телефон:</span> {{ constructionSite?.contactPersons[0]?.phone }} </mat-card>
      <mat-card><span>E-mail:</span>  {{ constructionSite?.contactPersons[0]?.email }}  </mat-card> 
    </section>

    <!-- БЛОК С КОНТАКТНЫМИ ДАННЫМИ ЗАКАЗЧИКА -->
     <section class="contact-persons-block">
      <app-contact-persons [contactPersons] = "constructionSite?.contactPersons"></app-contact-persons>
    </section>

    <!-- БЛОК С ДЕДЛАЙНАМИ ПО ОБЪЕКТУ -->
     <section class="deadlines">
      <app-deadlines 
        [constructionSite]="constructionSite"
        (currentDeadlinesAdded)="onCurrentDeadlinesAdded($event)"
        ></app-deadlines>
    </section>

    <!-- БЛОК С ПРЯМЫМИ ИСПОЛНИТЕЛЯМИ -->
     <section class="contractors">
      <app-contractors [_id]="constSiteId"></app-contractors>
    </section>

    <!-- БЛОК С ЗАТРАТАМИ -->
    <section class="expenses">
      <app-expenses [constructionSite] = "constructionSite"></app-expenses>
    </section> 

    <!-- БЛОК С ВВОДОМ ЗАТРАТ -->
     <section class="add-current-expenses">
      <app-add-current-expenses [_id]="constSiteId"></app-add-current-expenses>
    </section>

    <!-- БЛОК С ТЕКУЩИМИ ЗАТРАТАМИ -->
     <section class="current-expenses">
        <app-current-expenses [_id]="constSiteId"></app-current-expenses>
    </section>
</div>
