<h3>Сроки по проекту</h3>
<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between"> 
      <div fxFlex="50" class="text-left">
          <mat-list role="list">
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Срок отведенный на работы: </span>  
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Срок оплаты по ГК: </span>  
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Плановая дата подписания ГК: </span> 
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Плановая дата начала работ по ГК: </span> 
              </mat-list-item>
          </mat-list>
      </div>
      <div fxFlex="50" class="text-right">
          <mat-list role="list">
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Фактическая дата подписания ГК: </span>
                  <button class="ml-4" mat-stroked-button color="warn">Изменить</button>
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Фактическая дата начала работ по ГК: </span>
                  <button class="ml-4" mat-stroked-button color="warn">Изменить</button>  
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Плановая сдача объекта: </span> 
              </mat-list-item>
              <mat-list-item role="listitem">
                  <span class="font-weight-bold">Плановая оплата по ГК: </span> 
              </mat-list-item>
          </mat-list>
      </div>
    </div>
</mat-card>