<div>
    <h3>Затраты по проекту</h3>
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="50" class="text-left">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <span class="font-weight-bold mr-3">Цена контракта: </span> 
                        <span style="color: red"> {{ constructionSite?.valueOfContract | currency:'RUB':'symbol-narrow'  }}</span>
                    </mat-list-item> 
                </mat-list>
              </div>
              <div fxFlex="50" class="text-left">
                <mat-list role="list">
                    <mat-list-item role="listitem">
                        <span class="font-weight-bold mr-3">Обчеспечение заявки: </span> 
                          {{ constructionSite?.planningExpenditures?.proposalSecurity | currency:'RUB':'symbol-narrow'  }} 
                    </mat-list-item>
                    <mat-list-item role="listitem">
                        <span class="font-weight-bold mr-3">Обчеспечение контракта:  </span> 
                         {{ constructionSite?.planningExpenditures?.contractSecurity | currency:'RUB':'symbol-narrow'  }}
                    </mat-list-item> 
                </mat-list>
              </div>
        </div>
    </mat-card>
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between"> 
          <div fxFlex="50" class="text-left">
              <mat-list role="list">
                  <mat-list-item role="listitem">
                      <span class="font-weight-bold mr-3">Плановые затраты ВСЕГО:  </span> 
                      {{ constructionSite?.planningExpenditures?.sumOfCosts | currency:'RUB':'symbol-narrow' }} 
                  </mat-list-item>
                  <mat-list-item role="listitem">
                      <span class="font-weight-bold mr-3">Плановые затраты на материалы:  </span> 
                      {{ constructionSite?.planningExpenditures?.materialCosts | currency:'RUB':'symbol-narrow'  }} 
                  </mat-list-item>
                  <mat-list-item role="listitem">
                        <span class="font-weight-bold mr-3">Плановые затраты на ФОТ:  </span> 
                        {{ constructionSite?.planningExpenditures?.wageFundDeductions | currency:'RUB':'symbol-narrow'  }}
                    </mat-list-item>
                
              </mat-list>
          </div>
         <div fxFlex="50" class="text-right">
              <mat-list role="list">
                  <mat-list role="list">
                      
                            <mat-list-item role="listitem">
                                <span class="font-weight-bold mr-3">Плановые затраты на ГСМ:  </span> 
                                {{ constructionSite?.planningExpenditures?.petrolOilLubricantsCosts | currency:'RUB':'symbol-narrow'  }}
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <span class="font-weight-bold mr-3">Плановые прочие затраты:  </span> 
                                {{ constructionSite?.planningExpenditures?.otherCosts | currency:'RUB':'symbol-narrow'  }}
                            </mat-list-item>
                  </mat-list>
              </mat-list>
          </div>
      <!--     <div fxFlex="50" class="text-right">
              <mat-list role="list">
                  <mat-list role="list">
                       
                      <mat-list-item role="listitem">
                          <span class="font-weight-bold mr-3">Текущие затраты ВСЕГО:  </span>  
                      </mat-list-item>
                      <mat-list-item role="listitem">
                          <span class="font-weight-bold mr-3">Текущие затраты на материалы:  </span> 
                      </mat-list-item>
                      <mat-list-item role="listitem">
                          <span class="font-weight-bold mr-3">Текущие затраты на ФОТ:  </span> 
                      </mat-list-item>
                      <mat-list-item role="listitem">
                          <span class="font-weight-bold mr-3">Текущие затраты на ГСМ:  </span> 
                      </mat-list-item>
                      <mat-list-item role="listitem">
                          <span class="font-weight-bold mr-3">Текущие прочие затраты:  </span> 
                      </mat-list-item>
                  </mat-list>
              </mat-list>
          </div> -->
        </div>
    </mat-card>
</div>
