<div id="ingineer">
  <section>
    <mat-card><span>Инженер:</span>  {{ CREATOR }}</mat-card>
    <mat-card><span>Налички на руках:</span> {{ ingineer.cash }} </mat-card>
    <mat-card><span>Б/Н неоплаченный:</span>  {{ ingineer.nonCashUnpaid }}</mat-card>
    <mat-card><span>Долги по документам:</span>  {{ingineer.documentsDebts }}</mat-card>
  </section>
  <section>
    <button [disabled]= true mat-raised-button>Запросить нал</button>
    <button (click)="onAddNewObj()" mat-raised-button>Добавить объект</button>
  </section>
  <section>
    
  <mat-tab-group>
      <mat-tab label="Текущие объекты">
          <app-current-construction-sites></app-current-construction-sites>
      </mat-tab>
  
      <mat-tab label="Завершенные объекты">
          <app-finished-construction-sites></app-finished-construction-sites>
      </mat-tab>
  </mat-tab-group>

  </section>
</div>